<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 500만명이 선택한 고수찾기 서비스 </title>
    <link rel="stylesheet" href="soomgo.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <script src="soomgo.js" defer></script>
</head>
<body>
    <!-- header -->
    <header>
        <!-- icons -->
        <div class="icons">
            <a href="">숨은달인</a>
        </div>
        <!-- menu -->
        <div class="menu">
            <ul></ul>
            <li class="require">보낸요청</li>
            <li class="chatting">채팅
            <a href=""><button>8</button></a>      
            </li>
            <li class="find">달인찾기</li>
            <li class="search-container">
                <input type="text" placeholder="서비스를 찾아보세요" autocomplete="off">
                <button type="submit"><i class="fas fa-search"></i></button>
            </li>
            </ul>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- QQQ1.다른방법?? 없을까? 그리드도 있을거고-->
        <!-- QQQ2.검색창 눌렀을때 나오는거 어떻게 수정? -->
        <!-- QQQ3.DIV로걸릴땐 DIV넣어서 간격벌리면되는데 LI는 안되는듯? -->
        <!-- account -->
        <div class="account">
            <div class="alarm">
                <i class="far fa-bell"></i>
                <button>23</button>
            </div>
            <div class="picture">
                <img src="soomgoimage/avatar.jpg" >
            </div>
            <div></div>
            <div class="myname">
            <span>최낙성 고객님</span>
            <a class="account_toggleBtn" href="#">
                <i class="fas fa-caret-down"></i>
            </a>            
            </div>
        </div>
        <div class="idbar">
            <div class="greetings"> 안녕하세요, Choinakseong고객님</div>
            <div class="list">
                <ul>
                    <li>받은 견적</li>
                    <li>마이페이지</li>
                </ul>
            </div>
            <hr>
            <div class="join">고수로 가입하기</div>
            <div class="logout">로그아웃</div>
        </div>
    </header>
    <!-- main -->
    <main>
        <!-- intro -->
        <section class="intro">
            <!-- summary -->
        <div class="summary">
        <div class="catchphrase">
            <span>딱 맞는 달인을 찾아드립니다!</span>
        </div>
        <div class="search-container">
            <input type="text" placeholder="어떤 분야의 달인을 찾으시나요?" autocomplete="off">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="list">
            <ul>
                <li class="item1">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>레슨</span>
                </li>
                <li class="item2">
                    <i class="fas fa-house-user"></i>
                    <span>홈/리빙</span>
                </li>
                <li class="item3">
                    <i class="fas fa-microphone-alt"></i>
                    <span>이벤트</span>
                </li>
                <li class="item4">
                    <i class="fas fa-briefcase"></i>
                    <span>비즈니스</span>
                </li>
                <li class="item5">
                    <i class="fas fa-pencil-ruler"></i>
                    <span>디자인/개발</span>
                </li>
                <li class="item6">
                    <i class="fas fa-heartbeat"></i>
                    <span>건강/미용</span>
                </li>
                <li class="item7">
                    <i class="fas fa-snowboarding"></i>
                    <span>취미</span>
                </li>
                <li class="item8">
                    <i class="fas fa-ellipsis-h"></i>
                    <span>기타</span>
                </li>
            </ul>
        </div>
        </div>
            <soomgoimage -->
        <div class="image">
            <img src="soomgoimage/필라텐스.png">
        </div>
        </section>
        <!-- downloadapp -->
        <section class="downloadapp">
                <div class="sentence">
                    <div class="small"><span> 더욱 새로워진</span></div>
                    <div class="medium"><span> 숨달 앱으로 더욱 편리하게 이용하세요. </span></div>
                </div>
                <div class="link">
                    <div class="google">
                        <i class="fab fa-google-play"></i>
                        <span>Google Play</span>
                    </div>
                    <div class="apple">
                        <i class="fab fa-apple"></i>
                        <span>App Store</span>
                    </div>
                </div>
        </section>
        <!-- recommended -->
        <section class="recommended">
            <div></div>
            <div></div>
            <div class="service">
                <div class="title"><span>최낙성님, 이런 서비스는 어떠세요?</span></div>
                <div class="list">
                    <ul>
                        <li class="item">
                            <img src="soomgoimage/coding.jpg">
                            <div class="sub-title">
                                <span> 코딩과외 </span>
                            </div>
                            <div class="description">
                                    <ul>
                                        <li><i class="fas fa-user-circle"></i></li>
                                        <li>112,345명</li>
                                        <li>고수 활동 중</li>
                                    </ul>

                            </div>
                        </li>
                        <li class="item">
                            <img src="soomgoimage/coding.jpg">
                            <div class="sub-title">
                                <span> 코딩과외 </span>
                            </div>
                            <div class="description">
                                    <ul>
                                    <i class="fas fa-user-circle"></i>
                                    <li>112,345명</li>
                                    <li>고수 활동 중</li>
                                    </ul>
                            </div>
                        </li>
                        <li class="item">
                            <img src="soomgoimage/coding.jpg">
                            <div class="sub-title">
                                <span> 코딩과외 </span>
                            </div>
                            <div class="description">
                                    <ul>
                                    <i class="fas fa-user-circle"></i>
                                    <li>112,345명</li>
                                    <li>고수 활동 중</li>
                                    </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        .
    </footer>
</body>
</html>